@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.woff2) format(woff2);
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Bold.woff2) format(woff2);
  font-weight: bold;
}

* {
  font-family: Roboto;
  color: #3872c2;
}

p {
  font-size: 16;
  letter-spacing: 0.1px;
}

.h1-heading {
  font-family: Roboto;
  text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  font-size: 64;
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
}

.h2-heading {
  font-size: 48;
  letter-spacing: -0.1px;
  font-weight: bold;
}

.h3-heading {
  font-size: 24;
  letter-spacing: -0.1px;
  font-weight: bold;
}

.h4-heading {
  font-size: 18;
}

.h5-heading {
  font-size: 32;
  letter-spacing: -0.1px;
}

.hero-image {
    border-radius: 20%;
}

button {
  background-color: #3872c2;
  color: white;
  text-transform: uppercase;
  letter-spacing: -0.1px;
  font-size: 16;
  border: none;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  padding: 8px 48px 8px 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}

button:active {
  box-shadow: none;
  position: relative;
  top: 2px;
  left: 2px;
}
